*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-size: 93.75%;

  --accent: hsl(277, 64%, 61%);

  --bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --image-bg-color: hsla(277, 64%, 61%, 0.438);

  --white: hsl(0, 0%, 100%);
  --white-paragraph: hsla(0, 0%, 100%, 0.75);
  --white-headings: hsl(0, 0%, 100%, 0.6);

  --heading-font: 'Lexend Deca', sans-serif;
  --main-font: 'Inter', sans-serif;

  --border-radius: 0.5rem;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--card-bg-color);
  display: flex;
  border-radius: var(--border-radius);
  height: 30rem;

  .info {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__heading {
      font-size: 2.5rem;
      font-family: var(--heading-font);
      color: var(--white);

      span {
        color: var(--accent);
      }
    }

    &__paragraph {
      font-family: var(--main-font);
      color: var(--white-paragraph);
    }

    .stats {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      &__item {
        h2 {
          font-family: var(--heading-font);
          color: var(--white);
        }

        p {
          font-family: var(--main-font);
          color: var(--white-headings);
        }
      }
    }
  }

  .image {
    background-image: linear-gradient(
        var(--image-bg-color),
        var(--image-bg-color)
      ),
      url(../assets/images/image-header-desktop.jpg);
    background-size: cover;
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    // test
  }
}
